.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 12px 20px;
  height: 90px;
  background: grey;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  
  .header-nav,
  .header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header-logo {
    width: 20%;

    .logo {
      max-width: 140px;
      width: 100%;
    }
  }

  .header-nav {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .nav-link {
    color: #FFFFFF;

    &:hover {
      transition: all 0.35s ease;
      opacity: 0.8;
    }
    &:first-child {
      margin-right: 20px;
    }
  }
}